html {
  background-color: lightgray;

}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





/* This is styling for the dropdown nav button */
.dropbtn {
  background-color: #4caf4f00;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f100;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: rgba(221, 221, 221, 0);}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #3e8e41;}






/* Styling for the GameBar */
#gameBar {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    background-color: brown;
    padding: 10px 10px 10px 10px;
}

#btnStart {
  background-color: rgba(128, 128, 128, 0);
  padding: 10px 20px 10px 20px;
  margin: 10px; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}



#video_box{
  float:left;
}

#difficulty_video_overlays {
position:absolute;
padding-left: 111ch;
padding-top: 65ch;
float:right;
  width:640px;
  min-height:370px;
  background-color:rgba(0, 0, 0, 0);
  z-index:300000;
}

#nav_video_overlays {
  position:absolute;
  float:right;
    width:640px;
    min-height:370px;
    background-color:rgba(0, 0, 0, 0);
    z-index:300000;
  }

  #switch_video_overlays {
    position:absolute;
    padding-left: 210ch;
    padding-top: 1ch;
    float:right;
      width:640px;
      min-height:370px;
      background-color:rgba(0, 0, 0, 0);
      z-index:300000;
    }